body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}
#main_div{
    width: 40%;
    height: 95%;
    background-color: blueviolet;
    border-radius:6px;
    display:none;
}
.header{
    position: relative;
    left: 60px;
    top: 10px;
    width: 76.5%;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
justify-content: space-between;
}
#todo-get{
    padding-left: 12px;
    width: 70%;
    height: 85%;
    border-radius: 4px;
    border: none;
    outline: none;
}
#add_btn{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #fff;    
    height: 93%;
    border-radius: 4px;
}
#add_btn:hover{
background-color: rgb(230, 230, 230);
}
#del_all{
    cursor: pointer;
    border: none;
    background-color: #fff;    
    height: 93%;
    border-radius: 4px;
}
#del_all:hover{
    background-color: rgb(227, 109, 109);
}
.todo_list{

    width: 90%;
    height: 90%;
    position: relative;
    left: 5%;
    top: 20px;
    border-radius: 5px;
}
#list{
    width: 100%;
    height:90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
li{
    color:blueviolet ;
    margin-top: 1px;
    border-radius: 3px;
    /* height: 35px; */
    width: 95%;
    background-color: aqua;
   display: flex;
   justify-content: space-around;
}
#del_btn{
    background-color: transparent;
    cursor: pointer;
    cursor: pointer;
    outline: none;
    border: none;
}
#del_btn:hover{
    background-color:rgb(181, 180, 180);
}
#edit_btn{
    background-color: transparent;
    outline: none;
    border: none;
cursor: pointer;
}
#edit_btn:hover{
    background-color: rgb(228, 228, 135);
}
.heading{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#load{
    width: 8%;
    height: 100%;
     position: absolute;
     bottom: 1px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    display: none;
}
#load img{
    width: 50px;
    position: relative;
    right: 8px;
    top: 5px;
    /* display: none; */
}


@media only screen and (max-width:1024px){
#main_div{
    width:50%;
    height: 95%;
}
.todo_list{
    /* width: 0%;*/ 
    height: 65%;
}

}
@media only screen and (max-width:768px){
    #main_div{
        width:60%;
        height: 95%;
    }
    .todo_list{
        /* width: 0%;*/ 
        height: 65%;
    }
    
    }
@media only screen and (max-width:425px){
        #main_div{
            width:80%;
            height: 93%;
            margin-top: 10px;
            position: relative; 
             right: 6px;
        }
        .todo_list{ 
            height: 80%;
        }
        .header{
            position: relative;
            left: 50px;
            top: 10px;
            width: 76.5%;
            height: 40px;
            /* background-color: aqua; */
           
        }
        #add_btn{   
            height: 85%;

        }
       
        #del_all{
            /* cursor: pointer;
            border: none;
            background-color: #fff;     */
            width: 15%;
            height: 85%;
            /* border-radius: 4px; */
        }
      
        
        }
@media only screen and (max-width:375px) {
            #main_div{
width: 90%;
position: relative;
right: 8px;
            }
            .header{
                background-color: transparent;
            }

            
    }
@media only screen and (max-width:320px) {
    #main_div{
        width: 90%;
        position: relative;
        right: 7px;
    }
    .header{
        width: 94%;
        position: relative;
        background-color: transparent;
        left: 13px;
    }
    #del_all{
        width: 14%;
        /* position: relative; */
        /* left: 4px; */
    }
    .todo_list{
        width: 110%;
        position: relative;
        left:-20px;
    }
            
    }
    ul{
        /* height: ; */
        scrollbar-color: red;
        overflow-y: scroll;
        list-style: none;
    }